sudo: required
dist: trusty
language: node_js
node_js:
  - '6.9'

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install firebase-tools -g
  - npm run lint

script: npm run test:once

after_success:
  - npm run build:prod
  - firebase deploy --token=${FIREBASE_TOKEN}

notifications:
  slack: team-mkr:G7g3d6tosscwjFCnlF6enMm9
