:host {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#description {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	flex: 0 0 400px;
	background: lightblue;
	margin: 30px;
	padding: 10px;
}

#text {
	flex: 0 0 100%;
}
#login-box {
	flex: 0 0 300px;
	background: lightblue;
	margin: 30px;
	text-align: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 10px;
}

label {
	flex: 0 0 100%;
}

input,label {
	margin: 10px;
}

button {
	margin: 20px 0;
	flex: 0 0 180px;
}

#github-logo {
	height: 50px;
	width: 50px;
	background-size: 30px 30px;
	background: url('./assets/GitHub-Logo.png') no-repeat center;
	margin: 20px;
}

